body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    line-height: 1.6;
}

form {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.url-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.url-section label {
    margin-right: 10px;
    font-weight: bold;
}

.url-section input {
    flex: 1;
    /* 입력칸을 남은 공간 모두 차지하도록 설정 */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button,
.recent-condition-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    max-width: 200px;
    /* 최대 너비 제한 */
    box-sizing: border-box;
    /* 패딩 포함한 전체 너비 계산 */
    margin-top: 10px;
    /* 위쪽 여백 추가 */
}

.submit-button:hover,
.recent-condition-button:hover {
    background-color: #45a049;
}

hr {
    margin: 20px 0;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

td:first-child {
    white-space: nowrap;
    width: 1%;
}

.option-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    cursor: pointer;
}

.option-button.active {
    background-color: #4CAF50;
    color: white;
}

.option-button.inactive {
    background-color: #f44336;
    color: white;
}

.results td:empty {
    display: none;
}

/* 추가한 스타일 */
.button-container {
    text-align: left;
    /* 버튼을 왼쪽 정렬 */
    margin-top: 20px;
    /* 위쪽 여백 추가 */
}

.button-container .recent-condition-button {
    width: auto;
    /* 버튼 너비 자동 조정 */
    font-size: 16px;
    /* 폰트 크기 조정 */
}